# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

### Leitura de dados

In [1]:
import MySQLdb as mysql
#Criar uma conexão com o Mysql do google cloud:
CLOUDSQL_CONNECTION_NAME = 'treinamentos-python:southamerica-east1:treinamento'
CLOUDSQL_USER = 'root'
CLOUDSQL_PASSWORD = 'treina123'
DATA_BASE = 'dsa'
conn = mysql.connect(host='35.247.208.205', user=CLOUDSQL_USER, passwd=CLOUDSQL_PASSWORD, database = DATA_BASE)

In [4]:
#import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
#conn = sqlite3.connect('dsa.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTO_INCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')

# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2016', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (%s, %s, %s)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM produtos")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM produtos WHERE valor > 60.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicos
def leitura_colunas():
    c.execute("SELECT * FROM produtos")
    for linha in c.fetchall():
        print(linha[3])

In [5]:
# Select nos dados
leitura_todos_dados()

(11, '2019-06-24 18:06:32.026157', 'Monitor', 69.0)
(12, '2019-06-24 18:06:33.036318', 'Monitor', 79.0)
(13, '2019-06-24 18:06:34.043928', 'Monitor', 52.0)
(14, '2019-06-24 18:06:35.051198', 'Monitor', 69.0)
(15, '2019-06-24 18:06:36.059252', 'Monitor', 51.0)
(16, '2019-06-24 18:06:37.067147', 'Monitor', 81.0)
(17, '2019-06-24 18:06:38.074232', 'Monitor', 66.0)
(18, '2019-06-24 18:06:39.082126', 'Monitor', 58.0)
(19, '2019-06-24 18:06:40.089346', 'Monitor', 96.0)
(20, '2019-06-24 18:06:41.097123', 'Monitor', 61.0)

In [6]:
# Leitura de registros específicos
leitura_registros()

(11, '2019-06-24 18:06:32.026157', 'Monitor', 69.0)
(12, '2019-06-24 18:06:33.036318', 'Monitor', 79.0)
(14, '2019-06-24 18:06:35.051198', 'Monitor', 69.0)
(16, '2019-06-24 18:06:37.067147', 'Monitor', 81.0)
(17, '2019-06-24 18:06:38.074232', 'Monitor', 66.0)
(19, '2019-06-24 18:06:40.089346', 'Monitor', 96.0)
(20, '2019-06-24 18:06:41.097123', 'Monitor', 61.0)

In [7]:
# Leitura de colunas específicas
leitura_colunas()

69.0
79.0
52.0
69.0
51.0
81.0
66.0
58.0
96.0
61.0

In [8]:
# Encerrando a conexão
c.close()
conn.close()

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>