# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

Documentação SQLite: http://www.sqlite.org/docs.html

### Acessando Banco de Dados com Python

In [1]:
# Reemove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [2]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [ ]:
# Cria uma conexão com o banco de dados. 
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

In [5]:
import MySQLdb
#Criar uma conexão com o Mysql do google cloud:
CLOUDSQL_CONNECTION_NAME = 'treinamentos-python:southamerica-east1:treinamento'
CLOUDSQL_USER = 'root'
CLOUDSQL_PASSWORD = 'treina123'
DATA_BASE = 'escola'
con = MySQLdb.connect(host='35.247.208.205', user=CLOUDSQL_USER, passwd=CLOUDSQL_PASSWORD, database = DATA_BASE)

In [6]:
type(con)

MySQLdb.connections.Connection

In [20]:
# Criando um cursor 
# (Um cursor permite percorrer todos os registros em um conjunto de dados)
meucursor = con.cursor()

In [21]:
type(meucursor)

MySQLdb.cursors.Cursor

In [22]:
# Cria uma instrução sql
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [10]:
# Executando a instrução sql no cursor
meucursor.execute(sql_create)

0

In [26]:
# Criando outra sentença SQL para inserir registros
#Padrao do sql lite
#sql_insert = 'insert into cursos values (?, ?, ?)'
#Padrao do Mysql
sql_insert = 'INSERT INTO cursos (id, titulo,categoria) VALUES (%s, %s, %s)'

In [24]:
# Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [29]:
# Inserindo os registros SQLLite
#for rec in recset:
    #cur.execute(sql_insert, rec)
#Mysql
meucursor.executemany(sql_insert, recset) #executemany Executa para varios registros.

3 was inserted.

In [ ]:
# Grava a transação
con.commit()
print(meucursor.rowcount, "was inserted.")

In [30]:
# Criando outra sentença SQL para selecionar registros
sql_select = 'select * from cursos'

In [33]:
# Seleciona todos os registros e recupera os registros
meucursor.execute(sql_select)
dados = meucursor.fetchall()

In [34]:
# Mostra
for linha in dados:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [35]:
# Gerando outros registros
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os registros
#SQLlite
#for rec in recset:
#    cur.execute(sql_insert, rec)
#Mysql
meucursor.executemany(sql_insert, recset) #executemany Executa para varios registros.
    
# Gravando a transação
con.commit()

In [36]:
# Seleciona todos os registros
meucursor.execute('select * from cursos')

# Recupera os resultados
recset = meucursor.fetchall()

# Mostra
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [37]:
# Fecha a conexão
con.close()

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>