Teste MySql

In [8]:
import os
import MySQLdb
#import webapp2

In [21]:
# These environment variables are configured in app.yaml.
CLOUDSQL_CONNECTION_NAME = 'treinamentos-python:southamerica-east1:treinamento'  ##os.environ.get('CLOUDSQL_CONNECTION_NAME')
CLOUDSQL_USER = 'root'                                                           ##os.environ.get('CLOUDSQL_USER')
CLOUDSQL_PASSWORD = 'treina123'                                                  ##os.environ.get('CLOUDSQL_PASSWORD')
DATA_BASE = 'escola'

def connect_to_cloudsql():
    # When deployed to App Engine, the `SERVER_SOFTWARE` environment variable
    # will be set to 'Google App Engine/version'.
    if os.getenv('SERVER_SOFTWARE', '').startswith('Google App Engine/'):
        # Connect using the unix socket located at
        # /cloudsql/cloudsql-connection-name.
        cloudsql_unix_socket = os.path.join(
            '/cloudsql', CLOUDSQL_CONNECTION_NAME)

        db = MySQLdb.connect(
            unix_socket=cloudsql_unix_socket,
            user=CLOUDSQL_USER,
            passwd=CLOUDSQL_PASSWORD, database=DATA_BASE)

    # If the unix socket is unavailable, then try to connect using TCP. This
    # will work if you're running a local MySQL server or using the Cloud SQL
    # proxy, for example:
    #
    #   $ cloud_sql_proxy -instances=your-connection-name=tcp:3306
    #
    else:
        db = MySQLdb.connect(
            host='35.247.208.205', user=CLOUDSQL_USER, passwd=CLOUDSQL_PASSWORD, database = DATA_BASE)

    return db

In [22]:
 db = connect_to_cloudsql()

In [25]:
cursor = db.cursor()
#cursor.execute('create table cursos (id integer primary key,titulo varchar(100),categoria varchar(140));')
cursor.execute('DROP TABLE cursos')

0

In [24]:
for tabela in cursor:
  print(tabela)

('cursos',)